<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class='bg-gradient-to-r from-indigo-200 via-red-200 to-indigo-200'>
   

    <header class='flex flex-col justify-between align-content mb-12 py-4 px-8 h-96 border-2 border-solid-red-400'>
        <h1 class='text-6xl font-logo font-bold text-gray-600'>Habitly</h1>

    <p class='w-40'>Build the habits you’ve always wanted to. 
    Keep a track of your daily activities 
    and make each day count. 
    </p>
    <div>

        <a href="/todos" class='bg-red-400 rounded px-3 py-2 text-rose-100 font-bold'>Have a look</a>
    </div>
    

         

          
        </header>
</body>
</html>