<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Todos</h1>
    <ul>
        <% todos.forEach( el=> { %>
            <% if(el.public) {%>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                </li>
                <%} %>
                    <%}) %>
    </ul>

    <script src="js/main.js"></script>
</body>

</html>