<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <!-- to dos is all the objects i got back -> loop through the array of objects
    el is the element for the cycle of the for each
    pull off first element to build first li and keep on going-->
    <!-- el = each document from our database-->
    <% todos.forEach( el => { %>
        <!-- using data-id as a data set and it's grabbing the id of the document from the database. it's unique for each item-->
        <!-- data set is how you grab any data attribute in your db-->
        <li class='todoItem' data-id='<%=el._id%>'>
            <!-- a conditional to trigger completed or not-->
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'>
                <!-- plug in to do text-->
                <%= el.todo %></span>
            <span class='del'> Delete </span>
        </li>
    <% }) %>    
    </ul>

    <h2>Things left to do: <%= left %></h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>