/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 900 */



body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding-left: 5%;
  padding-top: 2.5%;  
  background-color: #561928;
}

h1{
    color: #C6DFF1;
    font-size: 5em;
    margin: 5px;
}
.todoItem{
    color: #DACDF1;
    font-size: 2em;
}

.completed{
    text-decoration: line-through;
    
}
h2{
    color: #F7DAC3; 
    font-size: 3em;
}
a{
    color: #DACDF1;
    font-size: 2em;    
}

@media only screen and (max-width: 480px) {
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
  }